.error {
    color: red;
}

.formDiv {
    /* border: 1px solid red; */
    padding: 10px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    /* max-width: 1200px; */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .formDiv {
        gap: 2%;
    }
}