.success {
    color: green;
}

.borderaQ {
  margin: 0;
}

.borderaQ:hover {
  color: hsl(259, 77%, 49%);
}

.borderaQNoMargin {
  margin: 0;
}


.noGap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.noGap p {
  margin: 0;
  display: none;
}